@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1e2022;
    padding: 1em;
  }
  
  nav {
    display: flex;
    gap: 1em;
  }

.btn-outline-primary:active {
  color: #52616b; /* Change text color on active state if needed */
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}