@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #1e2022;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e2022;
  padding: 1em;
}

.nav-conteiner {
  overflow: hidden;
  background: #1e2022;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar {
  background-color: #222529;
}

.btn-outline-primary:active {
  color: #52616b;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.svg-color {
  filter: grayscale(0%);
}

.box {
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
}
